.aten-box svg {
  width: 100px;
  border-right: 2px solid #662D91;
  border-bottom: 2px solid #662D91;
  border-radius: 0 0 20px 0;
  background: rgba(255,255,255,0);
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 29%, rgba(253,252,253,0) 30%, rgba(101,44,144,0.76) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(29%, rgba(255,255,255,0)), color-stop(30%, rgba(253,252,253,0)), color-stop(100%, rgba(101,44,144,0.76)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 29%, rgba(253,252,253,0) 30%, rgba(101,44,144,0.76) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,0) 29%, rgba(253,252,253,0) 30%, rgba(101,44,144,0.76) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0) 29%, rgba(253,252,253,0) 30%, rgba(101,44,144,0.76) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 29%, rgba(253,252,253,0) 30%, rgba(101,44,144,0.76) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#652c90', GradientType=0 );
}

#body {
  transform-origin: center;
  animation: spin 80s infinite linear;
  filter: url(#dropshadow);
}

@keyframes spin {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}