.weather-time {
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 50px;
}

.time {
  position: fixed;
  bottom: -220px;
  right: -205px;
  width: 425px;
  font-size: 50px;
  stroke: red;
  fill: white;
  transform: rotateZ(-22deg);
}

#curve {
  fill:none;
}

.icon {
  position: fixed;
  bottom: -35px;
  right: 25px;
}

.icon img {
  width: 120px;
}

.temp {
  position: fixed;
  color: white;
  right: 5px;
  bottom: 75px;
  z-index: 100;
  font-size: 50px;
}